@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #2b2923;
	max-width: 1440px;
	margin: auto;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	padding: 0 135px;
}

/* ----------- CSS for nav bar ----------- */
nav {
	padding: 40px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav img {
	height: 40px;
}

ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 200px;
}

li {
	list-style-type: none;
	margin: 0 15px;
	color: #86847c;
}

li:last-child {
	margin-right: -190px;
}

button {
	color: #a09036;
	border: 1px solid #a09036;
	background-color: #2b2923;
	padding: 10px 25px;
	border-radius: 10px;
}

/* ---------- CSS for hero section ---------- */
.text-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-section {
	width: 50%;
}

h1 {
	font-size: 65px;
	color: #f1f0ee;
	margin-top: 20px;
	font-weight: 600;
}

.right-section {
	width: 50%;
}

p {
	font-size: 17px;
	color: #dddcda;
	line-height: 25px;
	margin-left: 180px;
}

.image-section {
	margin-top: 40px;
}

.image-section img {
	height: 55vh;
	width: 61vw;
	margin: 0 auto;
}
